/cpp/bufdither_cpp/nbproject/private/
/cpp/bufdither_cpp/build/Debug/
/cpp/bufdither_cpp/dist/Debug/
/cpp/bufdither_cpp/build/Release/
/cpp/bufdither_cpp/dist/Release/
/pure_c/bufdither_c/nbproject/private/
/pure_c/bufdither_c/dist/Debug/
/pure_c/bufdither_c/build/Debug/
/pure_c/bufdither_c/build/Release/
/pure_c/bufdither_c/dist/Release/