/cpp/bufdither_cpp/nbproject/private/
/cpp/bufdither_cpp/build/Debug/
/cpp/bufdither_cpp/dist/Debug/
/cpp/bufdither_cpp/build/Release/
/cpp/bufdither_cpp/dist/Release/
/java/bufdither_java/build/
/java/bufdither_java/dist/
/java/bufdither_java/nbproject/private/