/cpp/bufdither_cpp/nbproject/private/
/cpp/bufdither_cpp/build/Debug/
/cpp/bufdither_cpp/dist/Debug/
/cpp/bufdither_cpp/build/Release/
/cpp/bufdither_cpp/dist/Release/
/java/bufdither_java/build/
/java/bufdither_java/dist/
/java/bufdither_java/nbproject/private/
/pure_c/bufdither_c/nbproject/private/
/pure_c/bufdither_c/dist/Debug/
/pure_c/bufdither_c/build/Debug/
/pure_c/bufdither_c/build/Release/
/pure_c/bufdither_c/dist/Release/

/cpp/bufdither_cpp/build/
/cpp/bufdither_cpp/dist/
/java/img2buf/nbproject/private/
/java/img2buf/dist/
/java/img2buf/build/
bufdither-rust/target/
.gradle/